---
layout: page
---

<%= yield %>

<% if data.connections&.any? %>
<section class="mv-connections">
  <h2>Connections This Week</h2>
  <ul>
    <% data.connections.each do |conn| %>
      <li><%= conn %></li>
    <% end %>
  </ul>
</section>
<% end %>
